button {
  background-color: #666666;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /*margin-top: 10px;*/
  cursor: pointer;
  justify-content: center;
  border-radius: 5px;
}

button:hover {
  background-color: gray;
}

button:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


